<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        </br>
    </br>
</br>
<h1 class="text-center m-0 p-0">Contact For Any Inquiries</h1>
<p class=" text-center">click request button</p>
<a href="/contact/request" class="btn btn-info" style=" display: block;";>Request</a>
</div>
</div>
</div>


<%- include('footer') %>