<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="/save" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h3>registration form</h3>
                        </div>
                        <div class="card-body">
                                <div class="form-group">
                                    <label for="abc">First Name</label>
                                    <input id="abc" name="f_name" type="text" class="form-control">
            
                                </div> 
                                <div class="form-group">
                                    <label for="abc">Last Name</label>
                                    <input type="text" name="l_name" id="abc" class="form-control">
                                    

                                </div>
                                <div class="form-group">
                                    <label for="abc">Email</label>
                                    <input type="text" name="e_name" id="abc" class="form-control">


                                </div>
                                <div class="form-group">
                                    <label for="abc">Address</label>
                                    <textarea cols="35" name="add" rows="5" class="form-control" id="abc"></textarea>


                                </div>
                                
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info">submit</button> 
                        </div>
                    </div>
                </form>
            
                </div>
            </div>
        </div>
    </body>
</html>