<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div *ngIf="afterSubmit" class="alert alert-success">
                You are successfuly Registrered, For Login <a routerLink="/login">Click Here</a>
            </div>
            <form [formGroup]="regForm">
            <div  class="card">
                <div class="card-header">
                    <h4 class="text-center">User Registration</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input [ngClass]="{'is-invalid' : regForm.controls.fullname.errors && checkForm}" formControlName="fullname" type="text" placeholder="Full Name" class="form-control" />
                        <div class="invalid-feedback" *ngIf="regForm.controls.fullname.errors && checkForm">
                            Insert Your Full Name
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email/Username</label>
                        <input [ngClass]="{'is-invalid' : regForm.controls.email.errors && checkForm}" formControlName="email" type="text" placeholder="Email/Username" class="form-control" />
                        <div class="invalid-feedback" *ngIf="regForm.controls.email.errors && checkForm">
                            <div *ngIf="regForm.controls.email.errors.required">
                                Insert Your Email/Username
                            </div>
                            <div *ngIf="regForm.controls.email.errors.email">
                                Email Id is Not Correct
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input [ngClass]="{'is-invalid' : regForm.controls.password.errors && checkForm}" formControlName="password" type="password" placeholder="Password" class="form-control" />
                        <div class="invalid-feedback" *ngIf="regForm.controls.password.errors && checkForm">
                            Insert Your Password
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Re-Password</label>
                        <input [ngClass]="{'is-invalid' : regForm.controls.re_password.errors && checkForm}" formControlName="re_password" type="password" placeholder="Re-Password" class="form-control" />
                        <div class="invalid-feedback" *ngIf="regForm.controls.re_password.errors && checkForm">
                            <div *ngIf="regForm.controls.re_password.errors.required">
                                Insert Your Re-Password
                            </div>
                            <div *ngIf="regForm.controls.re_password.errors.repasserr">
                                Password and Re-Password not Matched
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea [ngClass]="{'is-invalid' : regForm.controls.address.errors && checkForm}" formControlName="address" class="form-control" placeholder="Address"></textarea>
                        <div class="invalid-feedback" *ngIf="regForm.controls.address.errors && checkForm">
                            Insert Your Address
                        </div>
                    </div>
                    <label>Gender</label>
                    <div>
                        <div class="custom-control custom-radio float-left mt-0 pt-0">
                            <br />
                            <input value="male" id="male" [ngClass]="{'is-invalid' : regForm.controls.gender.errors && checkForm }" formControlName="gender" class="custom-control-input"  type="radio"  />
                            <label for="male" class="custom-control-label">Male</label>
                        </div>
                        <div class="custom-control custom-radio float-left mt-0 pl-5">
                            <br />
                            <input value="female" id="female" [ngClass]="{'is-invalid' : regForm.controls.gender.errors && checkForm }" formControlName="gender" class="custom-control-input"  type="radio"  />
                            <label for="female" class="custom-control-label">Female</label>
                            <div class="invalid-feedback" *ngIf="regForm.controls.gender.errors && checkForm">
                                    Select Your Gender
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    
                    <!-- <div class="custom-control custom-radio">
                        <input
                          type="radio"
                          class="custom-control-input is-invalid"
                          name="radio_buttons"
                          id="id_id_radio_buttons_0_10"
                          value="option_one"
                        />
                        <label
                          for="id_id_radio_buttons_0_10"
                          class="custom-control-label"
                          >Option one is this and that be sure to include why it's
                          great
                        </label>
                      </div> -->
                    <div class="form-group">
                        <label>City</label>
                        <select class="form-control" [ngClass]="{'is-invalid' : regForm.controls.city.errors && checkForm}" formControlName="city">
                            <option value="">Select</option>
                            <option value="indore">Indore</option>
                            <option value="mumbai">Mumbai</option>
                            <option value="pune">Pune</option>
                            <option value="delhi">Delhi</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="regForm.controls.city.errors && checkForm">
                            Select Your City
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contact</label>
                        <input [ngClass]="{'is-invalid' : regForm.controls.contact.errors && checkForm}" formControlName="contact" type="text" placeholder="Contact" class="form-control" />
                        <div class="invalid-feedback" *ngIf="regForm.controls.contact.errors && checkForm">
                            <div *ngIf="regForm.controls.contact.errors.required">
                                Insert Your Contact Number
                            </div>
                            <div *ngIf="regForm.controls.contact.errors.numerr">
                                Insert Numbers only
                            </div>
                            <div *ngIf="regForm.controls.contact.errors.lengtherr">
                                Contact Number must be 10 digit
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" (click)="submit()" value="Signup" class="btn btn-primary" />
                </div>
            </div>
            </form>


               </div>
    </div>
</div>
