
<%- include('header') %>


<div class="container-fluid" style="min-height:500px; background-color:azure ">
    <div class="container" style="background-image: url(../image/2.jpg)">
        
    </div>

</div>
<%- include('footer') %>