<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
        <scrpt src="/js/jquery.js"></scrpt>
        <script src="/js/bootstrap.bundle.js"></script>

    </head>
    <body>
        <h3 class="text-success">index page</h3>
        <nav class="navbar bg-success navbar-expand-sm navbar-dark">
            
              <a href="#" class="navbar-brand">coinbazar.com</a>
                <button data-target="#pqr" data-toggle="collapse" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
           
                <div id="pqr" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                       <li class="nav-item">
                           <a href="/" class="nav-link">home</a>
                       </li>
                       <li class="nav-item">
                           <a href="/about" class="nav-link">about</a>
                       </li>
                       <li class="nav-item">
                           <a href="/contact" class="nav-link">contact</a>
                       </li>
                       <li class="nav-item dropdown">
                           <a data-toggle="dropdown" href="/more" class="nav-link">more</a>
                           <div class="dropdown-menu">
                               <a href="#" class="dropdown-item">help</a>
                               <a href="#" class="dropdown-item">logout</a>
                               <a href="#" class="dropdown-item">seeting</a>
                           </div>
                       </li>
                       <li class="nab-item">
                           <a href="/myForm" class="nav-link">form</a>
                       </li>
                   </ul>
               </div>
            </nav>