<%- include('header') %>
               <div class="container-fluid" style="min-height:500px;">
                    <h3>home page</h3>
                </div>
                <%- include('footer') %>
               