<%- include('header') %>
    <h3>my form</h3>
    <div class="container mt-3">
    <form action="/sub" method="post">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3>My Form</h3>
                    </div>
                    <div class="crad-body">
                        <div class="form-group">
                            <lable for="">first name</lable>
                            <input type="text" name="a" class="form-control">
                            <label for="">last name</label>
                            <input type="text" name="b" class="form-control">
                            <label for="">email</label>
                            <input type="text" name="c" class="form-control">
                            <label for="">address</label>
                            <textarea class="form-control"></textarea>
                            
                            
                        </div>
                    </div>
                    <div class="crad-footer">
                        <input type="submit" value="done" class="btn btn-success btn-s">
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

<%- include('footer') %>

