<div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>Lorem ipsum dolor sit amet</span>
            <h2>Our solutions for your <em>business growth</em></h2>
            <p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue. 
            <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
            
          <div class="row">
            <div *ngFor="let t of allTypes" class="col-md-6">
              <div class="count-area-content">
                <div style="display: none;" class="count-digit">945</div>
                <div [innerHTML]="t.icon"></div>
                <div class="count-title">{{ t.type_name }}</div>
              </div>
            </div>
            
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>