<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h3 #a>Dashboard</h3>
            <br />
            <button #btn style="display: none;" data-target="#box" data-toggle="modal">Show</button>
            <br />
            <button (click)="demo(btn)">OK</button>
        </div>
    </div>
</div>

<div class="modal fade" id="box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae recusandae perferendis labore quisquam iste tempora aperiam numquam? Quasi quaerat, temporibus ullam ipsam sed molestiae deserunt. Exercitationem sint consequatur possimus dolor.</p>
            </div>
        </div>
    </div>
</div>
