body{
    margin: 0px;
    padding: 0px;
    font-family:Helvetica;
}
.header{height: 150px;;
    width: auto;
    background-color: #33E9FF;
    
        }
.nav{height: 80;
    width: auto;
    background-color: #09444B;
        }
.content{min-height: 600px;
    height: auto;
    width: auto;
    background-color: white;
        }
.footer{height: 300;
    width: 100%;
    background-color: #0C565D;
        }
.slider{
    background-image: url("../image/slider1.jpeg");
    height: 200;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.wrapper{
       width: 970px;
       margin: 0 auto;  
}
.logo{
     height: 150px; 
     width: 300px;
      margin: 0;
      padding: 25 25 25 25 ;
      
}
.logo h1{
        margin: 0px;
        padding: 0px;
}
.logo p{
        margin: 0px;
        padding: 0px;
}
.nav ul{
         margin: 0px;
         padding: 0px;
}
.nav ul li{
    list-style-type: none;
   
}
.nav ul a{
    text-decoration: none;
    float: left;
    display: inline-block;
    padding:30 30;
    color: seashell;
 
}
.nav ul li a:hover{
    
    background-color:#33E9FF;
    color:red;
}
.left-content{ 
    min-height: 400;
    height: auto;
    width: 250;
   
    float:left;
    margin-top: 20px;
    
}
.right-content{ 
    min-height: 400;
    height: auto;
    width: 690;
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.left-content ul{ margin: 0px;
    padding: 0px;
    list-style-type: none;
  
}
.left-content li a{ display: block;
            text-decoration:none ;
            margin-bottom: 20px;
            padding: 15 10;
            border: 1px solid black;
            border-radius: 8px;
            color: white;
            background-color:#09444B;
          
            
        }
.left-content li a:hover{   background-color: black;
    color: white;

}    
.lp{
    margin: 0px;
    padding: 0px;
    background-color: #09444B;
    color: white;
}
.pro-box{
         height: 250;
         width : 200;
       
         margin: 10px;
         float: left;
         border: 2px solid black;
         border-radius: 2px;
}

.pro-box img{
    height: 160;
    width :100%;
}
.pro-box h4{
            margin: 0px;
            padding: 0px;
            text-align: center;
            font-size: 14px;
            color: black;
        
 }
.pro-box p{
            margin: 0px;
            padding: 0px;
            text-align:center;
            color: black;
        }
.pro-box a{
    width: 80;
    height: 25;
    margin: 7px 30%;
    padding-top: 5px;
          display: block;
          text-align: center;
          
          text-decoration: none;
          background-color: rgb(113, 144, 238);
        }         
 .pro-box a:hover{
     color: white;
     background-color: rgb(37, 85, 124);

 }   
 .footer1{
     padding: 0;
     width: auto;
     float:left;
     margin-top: 40px;
     list-style-type: none;
    
     
 } 
    
 

.footer1 li{
    
    padding-top: 10px;
}
.footer1 a{
    text-decoration: none;
    color: #fff;
    display: block;
    
    
}
.footer1 a:hover{
    text-decoration: underline;
}

 .footer2{
     margin-top:40px;
     margin-left:100px;
     list-style-type: none;
     float: left;
     width:auto ;
     
     
     
 }

 .footer2 li{
     padding-top: 10px;
 }
 .footer2 a{
     text-decoration: none;
     color: #fff;
     display: block;
          
 }
 .footer2 a:hover{
     text-decoration: underline;
 }
.fnav{
    margin-top: 20px;
    margin-left: 50px;
    height:250px;
    width: 600px;
    float: left;
    
}
.fnav input[type="text"]{
    display:block;
    width: 100%;
    margin: 5px;
    height: 40px;

}
.fnav textarea{
    display: block;
    width: 100%;
    margin: 5px;
    height: 100px;
}
.fnav input[type="submit"]{
    display: block;
    text-align: center;S
    margin-top: 5px;
    margin-left:50%;S
    
}