<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ h }}</h3>
            <h3>{{ w }}</h3>
            <h1>Events in Angular</h1>
            <button class="btn {{ b }}" (click)="demo1()">{{ a }}</button>
            <Br />
            <br />
            <button class="btn btn-info" (dblclick)="demo2()">{{ x }}</button>
            <br />
            <Br />
            <button class="btn btn-dark" (click)="demo3()">{{ y }} <span *ngIf="check" class="spinner-border spinner-border-sm"></span></button>
            <br />
            <div (contextmenu)="demo15()" (mousemove)="demo6()" style="background-color: {{ colorName }}; height : {{ h }}px; width : {{ w }}px " (mouseover)="demo4()" (mouseout)="demo5()" class="box1"></div>
        
            <input type="text" (keydown)="demo7()" (keyup)="demo8()"/>
            <br />
            <Br />
            <input type="text" (focus)="demo9()" (blur)="demo10()" style="background-color: {{ color2 }};" />
            <br />
            <br />
            <select (change)="demo11()">
                <option>Select</option>
                <option>indore</option>
                <option>ujjain</option>
                <option>mumbai</option>
            </select>
            <br />
            <br />
            <input type="text" />
        </div>
    </div>
</div>
