<%- include('header') %>
<div class="container my-5">
    <div class="row">
        <Br />
        <Br />
        <div class="col-md-8 offset-md-2">
            <a href="/teacher/add" class="btn btn-primary">Add Teacher</a>
            <h2 class="text-center">
                All Teacher List
            </h2>            
        </div>
        
    </div>
</div>
<%- include('footer') %>