<html>
    <head>
        <style>
            body{
                background-color:#748;
            }
        </style>

    </head>
    <body>
        <h3>about page

        </h3>
        <% color.forEach(function(x){ %>
            <h4><%= x %></h4>
            
        <% }) %>

    </body>
</html>