<html>
    <head>
        <style>
            body{
                background-color:aqua;
            }
        </style>

    </head>
    <body>
        <h1>indx page</h1>
        <h1><%= name %></h1>
    </body>
</html>