<html>
    <head>
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <% data.forEach(function(x){ %>
                <div class="col-md-4">
                    <div class="card">
                        
                        <div class="card-header">
                            <%= x.title %>
                        </div>
                        <div class="card-body">
                            <%= x.description %>

                        </div>
                        <div class="card-footer">
                            <%= x.price %>
            
                            <button class="btn btn-success btn-sm">more</button>
                        </div>

                    </div>
                </div>
                <% }) %>

            </div>
        </div>

    </body>
</html>