<html>
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
         body{
             background-color:red;
         }
    </style>

</head>
<body>
    <h1>about</h1>
    <% color.forEach((x)=>{ %>
        
        <h3><%= x %></h3>

    <%}) %>
</body>
</html>