
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-2">
                <table class="table table-bodered table-stripped table-dark">
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>city</th>
                        <th>age</th>
                    </tr>
                    <% data.forEach(function(x, n){ %>
                     <tr>
                        
                            <td><%= n+1 %></td>
                            <td><%= x.Name %></td>
                            <td><%= x.city %></td>
                            <td><%= x.age %></td>
                     </tr>
                     <% }) %>
                    </table>
            </div>
        </div>
    </div>
    
</body>
</html>