<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</head>
<body>
    <div class="container">
        <div class="row-mt-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Sony</div>
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. A eaque  consequatur rerum blanditiis distinctio veritatis tempora dicta, alias, cumque

                    </div>
                    <div class="card-footer">
                        <div class="btn btn-sm btn-primary">show</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>