
    <div class="card mt-5">
        <img [src]="p.image" class="card-img-top" style="height: 120px;"/>
        <div class="card-body">
            <h5>{{ p.title | sortTitle }} <small style="font-size: 13px;">({{ p.price|currency }})</small></h5>
            <p>{{ p.category }}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-sm">Buy</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-info btn-sm" (click)="addToCart(p)">Add to Cart</button>
        </div>
    </div>

