<div class="container my-5">
    <button class="btn btn-danger" (click)="clear()">Clear Cart</button>
    <div class="row">
        <div class="col-md-8">

            <div *ngFor="let c of myCart" class="my-3 p-2" style="border:1px solid #000">
                <div class="row">
                    <div class="col-md-3">
                        <img [src]="c.image" style="height: 150px;" class="img-thumbnail"/>
                    </div>
                    <div class="col-md-8">
                        <h5>{{ c.title }}</h5>
                        <p>Price : {{ c.price }}</p>
                        <p>Category : {{ c.category }}</p>
                        <button class="btn btn-danger btn-sm">Remove</button>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
