<%- include('header') %>

<div class="container-fluid" style="min-height: 650px; margin: 0px;">
<img src="https://i.ytimg.com/vi/TAm6k5oIghw/maxresdefault.jpg" height="650px" width="1500px" >

</div>

<%- include('footer') %>