<html>

<head>
    <style>
        body {
            background-color: #ACACDD;
        }
    </style>
</head>

<body>
    <h1>About Page</h1>
    <% color.forEach(function(x){ %>
        <h3><%= x %></h3>
    <% }) %>

</body>

</html>