<html>
    <head>
        <style>
            body{
                background-color: #012457;
            }
        </style>
    </head>
    <body>
        <h1>Home Page</h1>

        <h1><%= name %></h1>
    </body>
</html>